.weatherContent{
    background-image: url(../weatherImages/weatherIMG.jpg);
    background-position: cr;
    background-repeat: no-repeat;
}
.textArea h1{
    font-size: 5rem;
    color: red;
}
@media screen {
    
}
.IMAGE{
    transition: 1s;

}
.WeatherDetails{
    background-color: rgba(203, 203, 216, 0.4);
}
.SearchIcon{
    transition: 0.3s;
   
}
.SearchIcon:hover{
    transform: scale(1.4);
}
.landingPageImg{
    border-radius: 50%;
    
}