.weatherContent{
    background-image: url(../weatherImages/weatherIMG.jpg);
    
    
}
.WeatherDiv{
    width: 400px !important;
}
.textArea h1{
    font-size: 5rem;
    color: red;
}
@media screen {
    
}
.IMAGE{
    transition: 1s;

}
.WeatherDetails{
    background-color: rgba(203, 203, 216, 0.4);
}
.SearchIcon{
    transition: 0.3s;
   
}
.SearchIcon:hover{
    transform: scale(1.4);
}
.landingPageImg{
    border-radius: 50%;
    
}
/*SignUp page design*/
.GoogleOption{
    max-width: 400px;
    min-width: 200px;
    overflow: hidden;
    height: 100px;
   
}
.LoginFormCol{
    background-image: url("../weatherImages/landscape.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.LoginOptionDiv{
    padding: 12px !important;
    max-width: 400px !important;
}
.GoogleOption{
    max-width: 400px;

}
.ContinueBtn{
    background-color: #0d6efd !important;
    color: white !important;
    font-size: 1.5rem !important;
    font-weight: 200;
}