.weatherContent{
    background-image: url(../weatherImages/weatherIMG.jpg);
    background-position: cr;
    background-repeat: no-repeat;
}
.textArea h1{
    font-size: 5rem;
    color: red;
}
@media screen {
    
}