h1{
    font-size: 500px;
    color: red;
}
.ABOUT{
    width: 10%;
    height: 456px !important;
    background-color: black;
    background-image: url(../imagess/bg1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}