
@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');
.HomePage{
    box-sizing: border-box;
    background-image: url(../imagess/bgImg1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    
   
}
.landingpageText > h1, p{
    font-family: 'Nova Square', sans-serif;
    
    margin: 0;
    padding: 0;
    z-index: 1;

}

.landingpageText > .buttons{
    display: flex;
    width: 50%;
}
.landingpageText > .buttons > button{
   
    border: 1px solid;
    border-radius: 15px;
    outline: none;
    background-color: rgb(126, 137, 126);
    margin-top: 9px;
    margin-right: 5px;
    box-shadow: 1px 2px 20px rgb(138, 16, 16);
    transition: 1s;
}
.landingpageText > .buttons > button:hover{
    background-color: azure;
}
.COL-4-img img{
    width: 250px;
    height: 400px;
}