
form{
    display: flex;
    align-items: center;
    border: none;
}
.LoginFormCol{
    background-image: url(../imagess/Caleb.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.GoogleOption, .logInDiv > input, button{
    width: 360px;
    padding: 12px;
    border-radius: 8px;
    
}
.logInDiv > input:hover{
    border: 1px solid blue ;
    border-radius: 8px;
}
.logInDiv > input, button{
    outline: none;
    border: 1px solid rgb(183, 182, 182);
    
    
}
.logInDiv >  button{
    background-color: rgb(8, 26, 126);
    outline: none;
    border: none;
    border-radius: 24px;
    color: white;
}
.GoogleOption img{
    width: 20%;
}
.GoogleOption a{
    font-size: 1rem !important;
    text-decoration: none;
}


/*close button*/
.CloseBTN:hover{
color: black !important;
cursor: pointer;
}
.CloseBTN span{
color: rgb(41, 40, 40);
font-size: 2rem;
}
.CloseBTN span:hover{
    color: rgb(0, 0, 0);
    transform: scale(1);
    transition: 1.4s ease-in-out;
}
.SignUPFORM{
    transition: max-height 0.5s ease-out;
    
}